body {
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  color: rgb(98, 98, 98);
  /* height: auto; */
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 24px;
  display: inline-block;
  margin: 0px;
  padding: 0px;
}
/* Navigation */
nav {
  width: 574px;
  margin: 0 auto;
}
.menu {
  box-sizing: border-box;
  list-style: none;
  text-transform: uppercase;
  display: inline-block;
  padding-inline-start: 0px;
}
ul {
  width: 574px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 105px;
  padding-top: 66px;
}
.menu a {
  text-decoration: none;
  color: rgb(98, 98, 98);
}
.menu-1 {
  padding-right: 115px;
}
.menu-2 {
  padding-right: 115px;
}
.menu-3 {
  padding-right: 93px;
}
menu-4 {
  padding-right: 167px;
}
.menu :hover {
  color: rgb(3, 169, 244);
}
/* Article position */
div {
  width: 910px;
  margin-left: auto;
  margin-right: auto;
}
article {
  display: inline-block;
  width: 421px;
  height: 493px;
  margin-right: 61px;
  margin-bottom: 133px;
  vertical-align: top;
}
img {
  margin-bottom: 23px;
}

article:nth-child(2n) {
  margin-right: 0;
}
.last_post {
  margin-bottom: 59px;
}
/* Format text and header */
.name_section {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  color: rgb(180, 173, 158);
  font-weight: lighter;
  margin-top: 0px;
  margin-bottom: 23px;
}

.Header {
  display: inline-block;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  margin-top: 0px;
  margin-block-end: 30px;
}

.text {
  margin-bottom: 0px;
  margin-block-start: 0px;
  display: inline-block;
}

button {
  display: block;
  margin-left: 358px;
  font-size: 20px;
  width: 165px;
  height: 60px;
  background-color: white;
  border-color: black;
  border-width: 1px;
  margin-bottom: 70px;
}
