
body {
   box-sizing: border-box; 
  font-family: "Playfair Display", serif;
  color: rgb(98, 98, 98);
  /* height: auto; */
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 24px;
  display: inline-block;
  margin: 0px;
  padding: 0px;
}
  /* .container {
  width: 910px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 0px auto;
  padding-right: 0px auto;
}   */

nav {
  width: 574px;
  margin: 0 auto;
}
div {
  width: 910px;
  margin-left: auto;
  margin-right: auto;
}
.menu {
  box-sizing: border-box;
  list-style: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 0;
}
 ul {
  margin-left: auto;
  margin-right: auto;
  margin-top: 77px;
  margin-bottom: 105px;
  } 
.menu a{
  padding-right: 50px;
  text-decoration: none;
  color: rgb(98, 98, 98);
}

.menu :hover {
  color: rgb(3, 169, 244);
}
.Header {
  display: inline-block;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  margin-top: 0px;
  margin-block-end: 30px;
  letter-spacing: 1px;
}

article {
  display: inline-block;
  width: 421px;
  height: 493px;
  margin-right: 61px;
  margin-bottom: 133px;
  vertical-align: top;
}
img {
  margin-bottom: 23px;
}

article:nth-child(2n){
  margin-right: 0;
}

.name_section {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  color: rgb(180, 173, 158);
  font-weight: lighter;
  margin-top: 0px;
  margin-bottom: 23px;
}

.text {
  margin-bottom: 0px;
  margin-block-start: 0px;
  display: inline-block;
}
button {
  display: block;
  margin-left: 358px;
  font-size: 20px;
  width: 165px;
  height: 60px;
  background-color: white;
  border-color: black;
  border-width: 1px  ;
}

