$primary-font-family: 'Montserrat';
$secondary-font-family: "Roboto" ;
$handwritten-font-family: 'Kaushan Script';

// COLOR
$primary-white-color: #ffffff;

 
$primary-dark-color: #333333;
$dark-light-color: #999999;

$line-color:#e5e5e5;
$placeholder-color:#cccccc;
$border-form-color:#e7e7e7;

$first-accent-color: #fce38a;
$secondary-accent-color: #f38181;
$tertiary-accent-color: #95e1d3;

