/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  font-family: "Kaushan+Script", "Montserrat", "Roboto", sans-serif;
}




/* Title */

/* PAGE-HEADER */


/* site navigation */


.header-button {
  display: block;
  margin: 0 auto;
  font-family: "Monsterrat";
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  width: 162px;
  height: 44px;
  border: 2px solid #fff;
  outline: none;
  text-decoration: none;
  background-color: rgba(149, 225, 211, 0);
}

/* SERVICE */
.service {
  padding-bottom: 90px;
  padding-top: 44px;
}
.section-title__monsterrat--service {
  padding-bottom: 64px;
}
.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 400px;
  flex: 0 0 400px;
  padding: 0 0px;
  padding-bottom: 72px;
  text-align: left;
}
.card:nth-last-child(-n + 3) {
  padding-bottom: 0;
}

.card__title {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(51, 51, 51);
  line-height: 1.2;
  margin: 0;
}
.card__text {
  font-family: "Roboto";
  font-size: 15px;
  line-height: 24px;
  color: #999999;
}
.card::before {
  content: "";
  display: block;
  -ms-flex-preferred-size: 60px;
  flex-basis: 60px;
  margin-bottom: 34px;
  margin-right: 28px;
  background-repeat: no-repeat;
  background-position: top;
}
.card--clock::before {
  background-image: url("../image/icon/service/icon-clock.svg");
}

.card--graph::before {
  background-image: url("../image/icon/service/icon-graph.svg");
}

.card--computer::before {
  background-image: url("../image/icon/service/icon-comuter.svg");
}
.card--book::before {
  background-image: url("../image/icon/service/icon-book.svg");
}
.card--home::before {
  background-image: url("../image/icon/service/icon-home.svg");
}
.card--image::before {
  background-image: url("../image/icon/service/icon-image.svg");
}
/* TEAM SECTION  */
.team {
  padding-bottom: 80px;
}
.section-title__monsterrat--team {
  padding-bottom: 44px;
}
.team__image {
  display: block;
  max-width: 100%;
  height: auto;
}
.team__about {
  text-align: center;
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 96px;
  margin-top: 0;
  font-family: "Roboto";
  font-size: 15px;
  line-height: 24px;
  color: #999999;
}

.team__name {
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 10px;
  margin-top: 0px;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
}

.team__occupation {
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  text-align: center;
  margin: 0;
}
.team__item {
  position: relative;
  width: 370px;
}

.team__gradient {
  position: relative;
  margin-bottom: 30px;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-box-shadow: 0px 0px rgba(149, 225, 211, 0);
  box-shadow: 0px 0px rgba(149, 225, 211, 0);
  -webkit-transition: -webkit-transform 200ms linear,
    -webkit-box-shadow 200ms linear;
  transition: -webkit-transform 200ms linear, -webkit-box-shadow 200ms linear;
  -o-transition: transform 200ms linear, box-shadow 200ms linear;
  transition: transform 200ms linear, box-shadow 200ms linear;
  transition: transform 200ms linear, box-shadow 200ms linear,
    -webkit-transform 200ms linear, -webkit-box-shadow 200ms linear;
}

.team__gradient:hover {
  -webkit-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
  -webkit-box-shadow: 10px 10px rgba(149, 225, 211, 1);
  box-shadow: 10px 10px rgba(149, 225, 211, 1);
}
/* SOCIAL-OVERLAY */
.overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(252, 227, 138, 0)),
    to(rgba(243, 129, 129, 0))
  );
  background: -o-linear-gradient(
    bottom,
    rgba(252, 227, 138, 0) 0%,
    rgba(243, 129, 129, 0) 100%
  );
  background: linear-gradient(
    to top,
    rgba(252, 227, 138, 0) 0%,
    rgba(243, 129, 129, 0) 100%
  );
  opacity: 0;
  -webkit-transition: opacity 200ms linear;
  -o-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
}

.overlay:hover {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(252, 227, 138, 0.9)),
    to(rgba(243, 129, 129, 0.9))
  );
  background: -o-linear-gradient(
    bottom,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  background: linear-gradient(
    to top,
    rgba(252, 227, 138, 0.9) 0%,
    rgba(243, 129, 129, 0.9) 100%
  );
  opacity: 1;
}

.overlay__list-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-item-align: center;
  align-self: center;
  opacity: 0;
  -webkit-transition: opacity 200ms linear;
  -o-transition: opacity 200ms linear;
  transition: opacity 200ms linear;
}
.overlay:hover .overlay__list-socials {
  opacity: 1;
}

.overlay__icon-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-style: none;
  border-right: 1px solid rgba(243, 129, 129, 0.5);
  background-color: rgb(252, 227, 138);
  cursor: pointer;
  -webkit-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}
.overlay__icon {
  fill: #f38181;
}
.overlay__icon-item:hover {
  background-color: #f38181;
}
.overlay__icon-item--facebook:hover .overlay__icon--facebook {
  fill: #fff;
}
.overlay__icon-item--twitter:hover .overlay__icon--twitter {
  fill: #fff;
}
.overlay__icon-item--pinterest:hover .overlay__icon--pinterest {
  fill: #fff;
}
.overlay__icon-item--instagram:hover .overlay__icon--instagram {
  fill: #fff;
  border-right-style: none;
}

.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 1px solid rgb(229, 229, 229);
  font-family: "Montserrat";
  font-size: 14px;
  color: rgb(51, 51, 51);
  line-height: 1.3;
}

.page-footer__link {
  font-family: "Montserrat";
  font-size: 14px;
  color: #f38181;
  font-size: 14px;
}

.page-footer__form .page-footer__input-submit {
  background: #95e1d3;
  border: 1px solid #95e1d3;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}
.page-footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.page-footer__form > * {
  border-top: 1px solid rgb(231, 231, 231);
  border-bottom: 1px solid rgb(231, 231, 231);
  border-left: 1px solid rgb(231, 231, 231);
  border-right: none;
  padding: 0px;
  background: #fff;
  line-height: 42px;
  min-width: 232px;
  font-size: 14px;
  border-radius: 0;
  outline: 0;
}

.page-footer__input-email {
  -ms-flex-preferred-size: 228px;
  flex-basis: 228px;
}
.page-footer__input-email::-webkit-input-placeholder {
  color: rgb(204, 204, 204);
  font-size: 15px;
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
}
.page-footer__input-email::-moz-placeholder {
  color: rgb(204, 204, 204);
  font-size: 15px;
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
}
.page-footer__input-email:-ms-input-placeholder {
  color: rgb(204, 204, 204);
  font-size: 15px;
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
}
.page-footer__input-email::-ms-input-placeholder {
  color: rgb(204, 204, 204);
  font-size: 15px;
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
}
.page-footer__input-email::placeholder {
  color: rgb(204, 204, 204);
  font-size: 15px;
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
}
