.header-button {
  display: block;
  margin: 0 auto;
  font-family: 'Monsterrat';
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  width: 162px;
  height: 44px;
  border: 2px solid #fff;
  outline: none;
  text-decoration: none;
  background-color: rgba(149, 225, 211, 0);
}
