.page-header {
  background: linear-gradient(
      to top,
      rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%
    ),
    url('../images/banner@1x.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 230px;
  
  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background: linear-gradient(
        to top,
        rgba(252, 227, 138, 0.9) 0%,
        rgba(243, 129, 129, 0.9) 100%
      ),
      url('../images/banner@2x.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.page-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 65px;
  padding-bottom: 168px;
  padding-top: 28px;
}
