body {
  font-family: "Roboto", "Open Sans", sans-serif;
  box-sizing: border-box;
  width: 1170px;
  width: 100%;
  height: 100%;
  line-height: 24px;
  display: inline-block;
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
  width: 256px;
  height: 284px;
  background-color: #e9f0fd;
}
.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.site-navigation {
  padding-top: 40px;
  padding-bottom: 106px;
}

.site-logo {
  box-sizing: border-box;
  float: left;
  font-size: 30px;
  line-height: 32px;
  color: black;
  text-transform: uppercase;
}
.logo-text::first-letter {
  font-weight: bold;
  color: #1abc9c;
}
.logo-text {
  margin: 0px;
}

.menu {
  margin: 0px;
  padding: 10px;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  float: right;
  list-style: none;
  width: 400px;
  font-weight: bold;
}

.menu-item {
  float: left;
}
.site-navigation li:not(:last-child) {
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: #000000;
}
.menu :hover {
  color: #1abc9c;
}

/* FEATURES SECTION */

h2 {
  font-size: 48px;
  line-height: 52px;
  color: #555252;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  margin: 0px;
  padding-bottom: 92px;
}
h2::after {
  content: "";
  display: block;
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-top: 30px;
}

.featured_list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 106px;
}

.produkt_list_item {
  float: left;
  width: 256px;
  margin-right: 28px;
}
.produkt_list_item:nth-child(4n) {
  margin-right: 0px;
}
.produkt_list_item:nth-child(-n + 4) {
  padding-bottom: 30px;
}

.produkt_title_cost {
  width: 255px;
  background-color: #000000;
}

.produkt_list_name a {
  box-sizing: border-box;
  float: left;
  width: 200px;
  text-transform: uppercase;
  margin-top: 0px;
  padding-top: 10px;
  padding-left: 14px;
  list-style: none;
  color: #ffffff;
}
.produkt_list_name {
  margin-top: 0px;
  margin-bottom: 0px;
}
.product_list_price a {
  float: right;
  box-sizing: border-box;
  width: 55px;
  background-color: rgba(255, 255, 255, 0.44);
  color: #ffffff;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 700;
}

.produkt_list_item:hover .produkt_title_cost {
  background-color: #1abc9c;
}

.blog-article {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #555252;
  line-height: 26px;
}
.blog-article-item {
  float: left;
  width: 350px;
  margin-right: 30px;
  padding-bottom: 80px;
}
.blog-article li:last-child {
  margin-right: 0px;
}

.blog-article-item img {
  width: 350px;
  height: 262px;
}
.blog-article_header {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 28px;
}
.blog-article_header::after {
  content: "";
  display: block;
  width: 136px;
  height: 3px;
  background-color: #1abc9c;
  margin-left: 0px;
  margin-top: 14px;
}
.blog-header {
  padding-bottom: 80px;
}

.blog-article-item p {
  font-size: 14px;
  font-weight: 400;
  margin: 0px;
  padding-bottom: 18px;
}
.blog button {
  float: left;
  border: none;
  box-sizing: border-box;
  background-color: #1abc9c;
  font-weight: 300;
  width: 160px;
  height: 52px;
  border-radius: 5px;
  padding: 0px;
  cursor: pointer;
}

.button {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
}
